<div class="d-flex justify-content-center">
   <div class="w-25">
    <fieldset class="border p-2">
        <legend class="w-auto float-none">Change Password</legend>
        <form [formGroup]="changePwdForm" (ngSubmit)="formSubmit()">
            <div class="form-group">
                <!--<label for="currentPassword">Current Password:</label>-->
                <input name="currentPassword" 
                       type="password" 
                       class="form-control" 
                       formControlName="currentPassword" 
                       [ngClass]="{ 'border-highlight': currentPwd?.touched && currentPwd?.invalid }"
                       placeholder="Current Password"/>
                <div *ngIf="currentPwd?.touched && currentPwd?.invalid">
                    <div *ngIf="currentPwd?.errors?.required">
                        <span class="error-text">*Current Password is a required field</span>
                    </div>
                </div>
                <div *ngIf="currentPwd?.touched">
                    <div *ngIf="currentPwd?.errors?.currentPasswordNotValid">
                        <span class="error-text">*Current Password does not match</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="newPassword">New Password:</label>-->
                <input name="newPassword" 
                       type="password" 
                       class="form-control" 
                       formControlName="newPassword" 
                       [ngClass]="{ 'border-highlight': newPwd?.touched && newPwd?.invalid }"
                       placeholder="New Password"/>
                <div *ngIf="newPwd?.touched && newPwd?.invalid">
                    <div *ngIf="newPwd?.errors?.required">
                        <span class="error-text">*New Password is a required field</span>
                    </div>
                    <div *ngIf="newPwd?.errors?.minlength">
                        <span class="error-text">*New Password must be minimum {{newPwd?.errors?.minlength.requiredLength}} characters long</span>
                    </div>
                    <div *ngIf="newPwd?.errors?.maxlength">
                        <span class="error-text">*New Password exceeded {{newPwd?.errors?.maxlength.requiredLength}} characters limit</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!--<label for="confirmNewPassword">Current Password:</label>-->
                <input name="confirmNewPassword" 
                       type="password" 
                       class="form-control" 
                       formControlName="confirmNewPassword" 
                       [ngClass]="{ 'border-highlight': confirmNewPwd?.touched && confirmNewPwd?.invalid }"
                       placeholder="Confirm New Password"/>
                <div *ngIf="confirmNewPwd?.touched && confirmNewPwd?.invalid">
                    <div *ngIf="confirmNewPwd?.errors?.required">
                        <span class="error-text">*Confirm New Password is a required field</span>
                    </div>
                </div>
                <div *ngIf="confirmNewPwd?.touched && confirmNewPwd?.valid && newPwd?.touched && newPwd?.valid">
                    <div *ngIf="changePwdForm?.errors?.confirmPasswordNotMatch">
                        <span class="error-text">*Confirm New Password does not match with New Password</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="form-group">
               <input type="submit" class="btn btn-primary w-100" value="Submit" [disabled]="checkValidationError()"/>
            </div>
        </form>
     </fieldset>
   </div>
</div>    

