div.form-group {
    padding-bottom: 10px;
}

.error-text {
    color: red;
    font-size: x-small;
    float: right;
    font-style: italic;
}

::placeholder{
    font-size: small;
    font-style: italic;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
  }