<div class="row">
    <div class="col-6">
        <bootstrap-panel [ShowDiv]="true">
            <ng-container class="heading">
                <h4>Billing Details</h4>
            </ng-container>
            <ng-container class="body">
                <h5>some content here...</h5>
            </ng-container>
        </bootstrap-panel>
    </div>
    <div class="col-6">
        <bootstrap-panel [ShowDiv]="false">
            <ng-container class="heading">
                <h4>Shipping Details</h4>
            </ng-container>
            <ng-container class="body">
                <h5>some content here...</h5>
            </ng-container>
        </bootstrap-panel>
    </div>
</div>
<br/>